@model IEnumerable<PROYECTO_CHAT_ED2_DiegoRamirez_DanielElias.Models.Users>
@{
    Layout = "PrivateLayout";
}
@{
    ViewData["Title"] = "AddFriend";
}

<h1>Buscar Usuario</h1>

<div>
    <a asp-action="Chat">Volver a chat</a>
</div>

<form method="get" asp-action="AddFriend">
    <p>
        <input type="search" placeholder="Type username..." value="@ViewData["GetUser"]" name="searched" style="width:500px;" />
        <input type="submit" value="Search" class="btn btn-outline-primary" />
        <a asp-action="AddFriend">Show All</a>
    </p>

</form>
<table class="table-light">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.eMail)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {

            @if (item.Username != ViewBag.sessionv)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Username)
                    </td>

                    <td>
                        @Html.DisplayFor(modelItem => item.eMail)
                    </td>
                    <td>
                        @Html.ActionLink("Send Request", "SendRequest", new { user = item.Username })
                    </td>
                </tr>
            }

        }
    </tbody>
</table>
