@model PROYECTO_CHAT_ED2_DiegoRamirez_DanielElias.Models.ChatRoom

@{
    Layout = "PrivateLayout";
}
@{
    ViewData["Title"] = "Room";
}

<style>
    .chat {
        margin-top: auto;
        margin-bottom: auto;
        bottom: 0;
        flex-direction: column-reverse;
    }

    .card {
        position: relative;

        height: 500px;
        width: 1100px;
        border-radius: 12px !important;
        background-color: rgba(0,0,0,0.4) !important;
    }

    .contacts_body {
        padding: 0.75rem 0 !important;
        overflow-y: auto;
        white-space: nowrap;
    }

    .msg_card_body {

        overflow-y: auto;
    }

    .card-header {
        border-radius: 15px 15px 0 0 !important;
        border-bottom: 0 !important;
    }

    .card-footer {
        position: relative;
        border-radius: 0 0 15px 15px !important;
        border-top: 0 !important;
    }

    .container {
        align-content: center;
    }

    .search {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
    }

        .search:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .type_msg {
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        height: 60px !important;
        overflow-y: auto;
    }

        .type_msg:focus {
            box-shadow: none !important;
            outline: 0px !important;
        }

    .attach_btn {
        border-radius: 15px 0 0 15px !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .send_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .search_btn {
        border-radius: 0 15px 15px 0 !important;
        background-color: rgba(0,0,0,0.3) !important;
        border: 0 !important;
        color: white !important;
        cursor: pointer;
    }

    .contacts {
        list-style: none;
        padding: 0;
    }

        .contacts li {
            width: 100% !important;
            padding: 5px 10px;
            margin-bottom: 15px !important;
        }

    .active {
        background-color: rgba(0,0,0,0.3);
    }

    .user_img {
        height: 70px;
        width: 70px;
        border: 1.5px solid #f5f6fa;
    }

    .user_img_msg {
        height: 40px;
        width: 40px;
        border: 1.5px solid #f5f6fa;
    }

    .img_cont {
        position: relative;
        height: 70px;
        width: 70px;
    }

    .img_cont_msg {
        height: 40px;
        width: 40px;
    }

    .online_icon {
        position: absolute;
        height: 15px;
        width: 15px;
        background-color: #4cd137;
        border-radius: 50%;
        bottom: 0.2em;
        right: 0.4em;
        border: 1.5px solid white;
    }

    .offline {
        background-color: #c23616 !important;
    }

    .user_info {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 15px;
    }

        .user_info span {
            font-size: 20px;
            color: white;
        }

        .user_info p {
            font-size: 10px;
            color: rgba(255,255,255,0.6);
        }

    .video_cam {
        margin-left: 50px;
        margin-top: 5px;
    }

        .video_cam span {
            color: white;
            font-size: 20px;
            cursor: pointer;
            margin-right: 20px;
        }

    .msg_cotainer {
        margin-top: auto;
        margin-bottom: auto;
        margin-left: 10px;
        border-radius: 15px;
        background-color: #4682B4;
        border-bottom-right-radius: 0px;
        padding: 10px;
        position: relative;
    }

    .msg_cotainer_send {
        margin-top: auto;
        margin-bottom: auto;
        margin-right: 10px;
        border-radius: 15px;
        background-color: #708090;
        padding: 10px;
        position: relative;
    }

    .msg_time {
        position: absolute;
        left: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
    }

    .msg_time_send {
        position: absolute;
        right: 0;
        bottom: -15px;
        color: rgba(255,255,255,0.5);
        font-size: 10px;
    }

    .msg_head {
        position: relative;
    }

    #action_menu_btn {
        position: absolute;
        right: 10px;
        top: 10px;
        color: white;
        cursor: pointer;
        font-size: 20px;
    }

    .action_menu {
        z-index: 1;
        position: absolute;
        padding: 15px 0;
        background-color: rgba(0,0,0,0.5);
        color: white;
        border-radius: 15px;
        top: 30px;
        right: 15px;
        display: none;
    }

        .action_menu ul {
            list-style: none;
            padding: 0;
            margin: 0;
        }

            .action_menu ul li {
                width: 100%;
                padding: 10px 15px;
                margin-bottom: 5px;
            }

                .action_menu ul li i {
                    padding-right: 10px;
                }

                .action_menu ul li:hover {
                    cursor: pointer;
                    background-color: rgba(0,0,0,0.2);
                }

    .justify-content-end {
        background-color: #e09b1ecc;
        color: white;
        border-radius: 28px;
    }

    .justify-content-start {
        background-color: #ff005e6b;
        color: white;
        border-radius: 28px;
    }

    ul {
        list-style-type: none;
    }

    .dropbtn {
        background-color: #808080;
        color: white;
        padding: 8px;
        font-size: 8px;
        border: none;
    }

    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #808080;
        min-width: 160px;
        box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

        .dropdown-content a {
            color: black;
            padding: 6px 6px;
            text-decoration: none;
            display: block;
        }

            .dropdown-content a:hover {
                background-color: #ddd;
            }

    .dropdown:hover .dropdown-content {
        display: block;
    }

    .dropdown:hover .dropbtn {
        background-color: #3e8e41;
    }

    .datestring {
        float: right;
        align-content: center;
        font-size: 10px;
        color: white;
    }
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<div>

    <span class="form-group">
        <input type="submit" value="Volver a chats" onclick="location.href='@Url.Action("Chat", "User")'" class="btn btn-outline-primary" />

    </span>
    <span class="form-group">
        @{
            if (Model.GroupName != null)
            {


                <input type="submit" value="Agregar a grupo" onclick="location.href='@Url.Action("AddToGroup", "User", new { groupId = Model.id})'" class="btn btn-outline-primary" />

            }

        }
    </span>
    <form style="float:right" id="form1" runat="server">
        <p>Buscar mensaje</p>
        <input type="text" id="SearchTxt" />
        <input type="button" id="SearchBtn" value="Buscar" />
        <input type="button" id="NextBtn" value="Siguiente" />
        <input type="button" id="PreBtn" value="Anterior" />
    </form>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript">
    function searchAndHighlight(searchTerm, selector) {
        if (searchTerm) {
            var selector = selector || "#realTimeContents";
            var searchTermRegEx = new RegExp(searchTerm, "ig");
            var matches = $(selector).text().match(searchTermRegEx);
            if (matches != null && matches.length > 0) {
                $('.highlighted').removeClass('highlighted');
                $span = $('#realTimeContents span');
                $span.replaceWith($span.html());
                if (searchTerm === "&") {
                    searchTerm = "&amp;";
                    searchTermRegEx = new RegExp(searchTerm, "ig");
                }
                $(selector).html($(selector).html().replace(searchTermRegEx, "<span class='match'>" + searchTerm + "</span>"));
                $('.match:first').addClass('highlighted');
                var i = 0;
                $('#NextBtn').off('click').on('click', function () {
                    i++;
                    if (i >= $('.match').length) i = 0;
                    $('.match').removeClass('highlighted');
                    $('.match').eq(i).addClass('highlighted');
                    $('.ui-mobile-viewport').animate({
                        scrollTop: $('.match').eq(i).offset().top
                    }, 300);
                });
                $('#PreBtn').off('click').on('click', function () {
                    i--;
                    if (i < 0) i = $('.match').length - 1;
                    $('.match').removeClass('highlighted');
                    $('.match').eq(i).addClass('highlighted');
                    $('.ui-mobile-viewport').animate({
                        scrollTop: $('.match').eq(i).offset().top
                    }, 300);
                });
                if ($('.highlighted:first').length) { //if match found, scroll to where the first one appears
                    $(window).scroll($('.highlighted:first').position().top);
                }
                return true;
            }
        }
        return false;
    }
    $(document).on('click', '#SearchBtn', function (event) {
        $(".highlighted").removeClass("highlighted").removeClass("match");
        if (!searchAndHighlight($('#SearchTxt').val())) {
            alert("No results found");
        }
    });
</script>
<style type="text/css">
    .highlighted {
        background-color: yellow;
    }

    .highlight {
        background-color: #fff34d;
        -moz-border-radius: 5px; /* FF1+ */
        -webkit-border-radius: 5px; /* Saf3-4 */
        border-radius: 5px; /* Opera 10.5, IE 9, Saf5, Chrome */
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* FF3.5+ */
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Saf3.0+, Chrome */
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.7); /* Opera 10.5+, IE 9.0 */
    }

    .highlight {
        padding: 1px 4px;
        margin: 0 -4px;
    }
</style>






<div style="float:left" id="realTimeContents">
    <div  class="col-xl-8 col-xl-8 chat">
        <div  class="card">
            <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                    <div class="user_info">
                        <p style="color:white; font-size:20px"; >Chat con:  @ViewData["ChatWith"]</p>
                    </div>


                </div>
            </div>
            <div style="display: flex; flex-direction: column;" class="card-body msg_card_body">



                @foreach (var message in Model.messagesList)
                {
                    @if (message.Readers.Contains(ViewBag.sessionv))
                    {
                        @if (message.SenderUsername == ViewBag.sessionv)
                        {
                            <ul class="msg_cotainer">

                                <p class="datestring">@Html.DisplayFor(modelItem => message.date) </p>
                                <div style="float:right" class="dropdown">
                                    <button onclick="" style="float: right;" class="dropbtn">...</button>
                                    <div class="dropdown-content">
                                        <a value="@Model.id" href="@Url.ActionLink("DeleteForMe", "User", new { msgId = message.id, roomId = Model.id})">Eliminar para mi</a>
                                        <a value="@Model.id" href="@Url.ActionLink("DeleteForAll", "User", new { msgId = message.id, roomId = Model.id})">Eliminar para todos</a>
                                    </div>
                                </div>
                                <p style="color:white"> @Html.DisplayFor(modelItem => message.SenderUsername):  @Html.DisplayFor(modelItem => message.Text)</p>

                            </ul>
                            <ul class="container">
                            </ul>
                        }
                        else
                        {
                            <ul class="msg_cotainer_send">
                                <p class="datestring">@Html.DisplayFor(modelItem => message.date) </p>
                                <p style="color:white"> @Html.DisplayFor(modelItem => message.SenderUsername):  @Html.DisplayFor(modelItem => message.Text)</p>



                            </ul>
                            <ul class="container">
                            </ul>
                        }
                    }
                }

            </div>

            <div class="card-footer">
                <div class="input-group">
                    <div class="form-group">
                        <input type="submit" value="File" onclick="location.href='@Url.Action("UploadFile", "User", new { roomId = Model.id, sender = ViewBag.sessionv})'" class="btn-outline-dark" />

                    </div>
         
                    <div>@Html.TextBox("textMessage")</div>

                    <button value="@Model.id">
                        Enviar
                    </button>
                    <script>
                    $("button").click(function () {
                        $.ajax({
                            type: "POST",
                            url: "@Url.Action("SendMessage", "User")",
                            data: { textMessage: $('#textMessage').val(), roomId: $(this).val()}
                        })
                    })
                    </script>

                    <button class="btn-dark" id="actualizar" name="actualizar">Actualizar</button>
                    <script>
                        const reload = document.getElementById('actualizar');

                        reload.addEventListener('click', _ => { // el _ es para indicar la ausencia de parametros
                            location.reload();
                        });
                    </script>
                </div>
            </div>
        </div>
        <div></div>
    </div>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.js"></script>
</div>