@model List<string>

@{
    ViewData["Title"] = "ViewRequests";
}

<h1></h1>Ver Solicitudes


<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item)
                </td>

                <td>
                    @Html.ActionLink("Aceptar", "AcceptRequest", new { user = item }) |
                    @Html.ActionLink("Rechazar", "DeclineRequest", new { user = item })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@if (null != TempData["alertMessage"])
{
    <script type="text/javascript">
       alert("@TempData["alertMessage"]");
    </script>
}